In [13]:
import pandas as pd
from datetime import datetime

# Leyendo la tabla de datos 
1. Leemos la tabla CSV generada con el código de Python y generamos un "Pandas Data frame". Para esto, debemos pasar el nombre del archivo a la función `pandas.read_csv(<nombre del archivo>, sep = <separador>)`.
2. La función `display()` muestra la tabla con un formato reconocido por el Jupyter notebook.

In [14]:
# Comenzamos poniendo el nombre del archivo csv que queremos leer. Si no se encuentra en la misma carpeta que
# este notebook, entonces debes poner el path global del archivo
file = "~/Downloads/lanes_info_original_noholidays.csv"

df = pd.read_csv(file, sep=',') # Recuerda, se necesita especificar cual es el separador de columnas

display(df)

,DataTimestampLOCAL,cong_mess_1,cong_mess_2,date,day_name,fee,min_occ_1,min_occ_2,month_name,q_fl_10820_15,...,v_hw_7920_60,v_hw_9760_15,v_hw_9760_30,v_hw_9760_45,v_hw_9760_60,v_hw_d1,v_hw_d2,temperature,visibility,windSpeed
0,9/20/2018 0:00,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,103.6,69.0,78.98,6.216,4.69
1,9/20/2018 0:01,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,105.7,69.0,78.98,6.216,4.69
2,9/20/2018 0:02,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,106.6,69.0,78.98,6.216,4.69
3,9/20/2018 0:03,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,107.1,69.0,78.98,6.216,4.69
4,9/20/2018 0:04,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,106.6,69.0,78.98,6.216,4.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347094,9/18/2019 23:55,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,108.2,100.2,93.2,92.6,93.4,106.5,58.8,76.71,10.000,3.03
347095,9/18/2019 23:56,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,109.3,90.5,98.4,95.8,83.6,107.1,58.8,76.71,10.000,3.03
347096,9/18/2019 23:57,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,108.9,86.6,99.0,92.6,77.0,106.3,58.8,76.71,10.000,3.03
347097,9/18/2019 23:58,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,107.3,85.2,95.1,94.0,77.9,103.6,58.8,76.71,10.000,3.03
347098,9/18/2019 23:59,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,109.4,90.2,88.8,93.3,77.0,102.0,58.8,76.71,10.000,3.03

Ahora, tomaremos únicamente las columnas que nos interezan para calcular la varianza. Posteriormente, volveremos a unir las columnas resultantes con nuestra tabla original.

In [15]:
# Dejamos únicamente las columnas que nos interesan momentaneamente
df2 = df[["time","travel_time_hw"]]
display(df2)

            time  travel_time_hw
0        0:00:00             362
1        0:01:00             362
2        0:02:00             362
3        0:03:00             360
4        0:04:00             361
...          ...             ...
347094  23:55:00             373
347095  23:56:00             368
347096  23:57:00             365
347097  23:58:00             366
347098  23:59:00             367

[347099 rows x 2 columns]

En esta tabla te pongo la *varianza* (y la *deviación estandar* en caso que la necesites)

In [16]:
# var: variance
# std: standard deviation
#
### Los valores que ves en la tabla df3 son los de la varianza y la desviación estandar de los 1440 minutos del día
df3 = df.groupby(df["time"]).agg({"travel_time_hw":["var", "std"]})
display(df3)

# De la siguiente manera, se logra que la varianza y la desviación estandar se calcule para cada minuto durante el
# año, pero de igual forma se repita cada que se encuentre el mismo minuto
df4 = df2.set_index("time").groupby(level="time").transform("var").rename(columns={"travel_time_hw":"travel_time_hw_var"})
df4 = df4.reset_index()
display(df4)

df5 = df2.set_index("time").groupby(level="time").transform("std").rename(columns={"travel_time_hw":"travel_time_hw_std"})
df5 = df5.reset_index()
display(df5)

        travel_time_hw
                   var         std
time
0:00:00    6294.232711   79.336201
0:01:00   16526.268292  128.554534
0:02:00   14254.421093  119.391880
0:03:00   12975.994917  113.912225
0:04:00   13060.512759  114.282600
...                ...         ...
9:55:00  313994.386342  560.352020
9:56:00  149779.923306  387.014113
9:57:00  103548.553700  321.789611
9:58:00  125789.171093  354.667691
9:59:00  257272.615111  507.220480

[1440 rows x 2 columns]

            time  travel_time_hw_var
0        0:00:00         6294.232711
1        0:01:00        16526.268292
2        0:02:00        14254.421093
3        0:03:00        12975.994917
4        0:04:00        13060.512759
...          ...                 ...
347094  23:55:00         8908.899308
347095  23:56:00        10168.524689
347096  23:57:00        11004.808126
347097  23:58:00         7117.850519
347098  23:59:00         5846.270332

[347099 rows x 2 columns]

            time  travel_time_hw_std
0        0:00:00           79.336201
1        0:01:00          128.554534
2        0:02:00          119.391880
3        0:03:00          113.912225
4        0:04:00          114.282600
...          ...                 ...
347094  23:55:00           94.386966
347095  23:56:00          100.839103
347096  23:57:00          104.903804
347097  23:58:00           84.367355
347098  23:59:00           76.460907

[347099 rows x 2 columns]

Finalmente, unimos las dos nuevas columnas (cada una se encuentra en un data frame distinto) a nuestra tabla global.

In [17]:
# Dado que los índices son los mismos en la tabla original como en las dos nuevas tablas
# podemos declarar left_index=True y right_index=True. Esto significa que la función merge
# va a hacer una relación uno a uno entre los índices de las tablas y unirá (ej. la columna
# travel_time_hv_var) la tabla ej. df4 en df.
df = df.merge(df4["travel_time_hw_var"], left_index=True, right_index=True)
df = df.merge(df5["travel_time_hw_std"], left_index=True, right_index=True)

# Ordenamos las columnas nuevamente (ya que las nuevas columnas se agregaron al final)
final_result = df.reindex(sorted(df.columns), axis=1)

display(final_result)

,DataTimestampLOCAL,cong_mess_1,cong_mess_2,date,day_name,fee,min_occ_1,min_occ_2,month_name,q_fl_10820_15,...,v_hw_7920_45,v_hw_7920_60,v_hw_9760_15,v_hw_9760_30,v_hw_9760_45,v_hw_9760_60,v_hw_d1,v_hw_d2,visibility,windSpeed
0,9/20/2018 0:00,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,103.6,69.0,6.216,4.69
1,9/20/2018 0:01,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,105.7,69.0,6.216,4.69
2,9/20/2018 0:02,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,106.6,69.0,6.216,4.69
3,9/20/2018 0:03,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,107.1,69.0,6.216,4.69
4,9/20/2018 0:04,default,default,9/20/2018,Thursday,7,default,default,September,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,106.6,69.0,6.216,4.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347094,9/18/2019 23:55,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,109.2,108.2,100.2,93.2,92.6,93.4,106.5,58.8,10.000,3.03
347095,9/18/2019 23:56,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,112.2,109.3,90.5,98.4,95.8,83.6,107.1,58.8,10.000,3.03
347096,9/18/2019 23:57,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,111.7,108.9,86.6,99.0,92.6,77.0,106.3,58.8,10.000,3.03
347097,9/18/2019 23:58,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,110.0,107.3,85.2,95.1,94.0,77.9,103.6,58.8,10.000,3.03
347098,9/18/2019 23:59,default,default,9/18/2019,Wednesday,7,default,default,September,0.0,...,110.0,109.4,90.2,88.8,93.3,77.0,102.0,58.8,10.000,3.03

Corre la siguiente celda para guardar la tabla en formato CSV. Se descargará en la misma ubicación donde tengas este Jupyter-notebook

In [18]:
final_result.to_csv("Tabla_final_final.csv", sep=';')